<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div id="forgotpassword-data">
        <h1>Forgot Password</h1>
        <hr>
        <div class="form-group">
        <label for="email">Email</label>
        <input            
          id="email" 
          class = "form-control" 
          type="email"
          ngModel 
          name="email"
          required
          email
          #email = "ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
</div>

</div>







